.item {
    width: 300px;
}

.item > .preview-wrapper {
    width: 300px;
    height: 300px;
}

.item > .preview-wrapper > .preview {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.item > .info-wrapper {
    width: 100%;
    overflow-x: hidden;
}

.item > .info-wrapper > h1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item > .info-wrapper > h2 {
    white-space: nowrap;
    mask-image: linear-gradient(to right, rgba(0,0,0,1) 75%, rgba(0,0,0,0));
}
