* {
    margin: 0;
}
.header {
    position: sticky;
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 30px rgb(59, 59, 59);
    padding: auto;
    text-align: center;
}
.admin {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    font-size: 1.9rem;
}

.mid-divs {
    display: flex;
    justify-content: space-between;
}

.mid-div {
    position: relative;
    top: 50px;
    height: 600px;
    width: 45%;
    margin: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 30px black;
}

.form-div {
    margin-top: 20px;
    position: relative;
    transform: translate(-50%, 0%);
    top: -10px;
    left: 50%;
    width: 50%;
    height: 88.5%;
}

.form-div label {
    margin-top: 7px;
}
.Titel {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    display: block;
}
.schoen-label {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    margin-top: 10px;
    font-size: 1.9rem;
    text-align: center;
}

input[type=text] {
    font-size: large;
    height: 30px;
    width: 100%;
    border: 2px black solid;
}
input[type=text]:hover, input[type=submit]:hover, textarea:hover{
    border: 2px black solid;
    background-color: rgb(233, 233, 233);
}
textarea {
    font-size: large;
    border: 2px black solid;
    max-height: 95px;
    max-width: 100%;
}
input[type=submit] {
    position: relative;
    font-size: large;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 30px;
    width: 80%;
    border: 2px black solid;
    background-color: white;
}




