.schoen-label {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    margin-top: 10px;
    font-size: 1.9rem;
    text-align: center;
}

.mid-divs {
    display: flex;
    justify-content: space-between;
}

.mid-div {
    position: relative;
    height: 650px;
    width: 45%;
    margin: 20px;
    background-color: rgb(195, 195, 195);
}

.form-div {
    position: relative;
    transform: translate(-50%, 0%);
    left: 50%;
    width: 50%;
    height: 88.5%;
}
.Titel {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    display: block;
}

